/* Default Tags */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #EEE;
	color: #000;
}

p {
	font-size: 10pt;
	color: #333;
}

a, a:visited {
	color: #407fba;
	text-decoration: none;
}

a:hover, a:visited:hover {
	text-decoration: underline;
}

/* So the HTML5 structural tags work in older browsers */
article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}
/* the styles for the elements */
*{
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 1000px;
    margin: 0 auto;
    border: 3px solid #C80000;
    border-radius:10px;
    background-color: #fffded;
}

/* the styles for the header */
header {
	border-bottom: 3px solid #C80000;
	padding: 1.5em 0 1.5em 5em;
}



/* the styles for the section */
section {
	padding: 0 20px 20px;
	width: 525px;
	float: right;
	font-size:150%;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em;
}


aside {
	width: 300px;
	float: left;
	padding-left: 20px;
	padding-bottom: 20px;
}

aside img {
	padding-bottom: 1em;
}
footer{
	border-top:3px solid #C80000;
	padding:10px;
	text-align:center;
	clear:both;
}

.scroll_cars {
	width: 238px;
	height: 58px;
	padding: 10px;
	margin: 20px;
	background: #DDD;
	border: 1px solid #BBB;
}

.scroll_cars a img {
	width: 88px;
	height: 58px;
	float: left;
	margin-right: 10px;
}

.scroll_cars p {
	margin: 0px;
	width: 130px;
	float: left;
}

.list_cars_scroll {
	border:3px solid #C80000;
	border-radius:5px;
	width: 280px;
	height: 430px;
	margin-top: 20px;
	overflow-y: scroll;
}
#content {
	width: 580px;
	padding: 0px 10px 10px;
	background: url("images/design/content.png");
	background-color: #FBFBFB;
	background-repeat: no-repeat;
	border: solid 2px #C80000;
	border-radius: 5px;
	margin: 20px;
}

#show_car img {
	width: 300px;
	height: 220px;
	border: 1px solid #555;
	float: left;
	margin-right: 10px;
}
.car_details_table{
	border-top:2px solid black;
}
.car_details_table tr td {
	padding: 3px;
	font-size: 11pt;
}
